@import "./variables.scss";
.AboutUs {
  padding-top: 30px;
  padding-bottom: 60px;
  &__textPart {
    padding-top: 20px;
  }
  &__tile {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    padding: 24px 0;
    border-radius: 8px;
    filter: drop-shadow(0px 4px 15px rgba(0, 0, 0, 0.25));
    line-height: 1;
    .amount {
      font-weight: 600;
      font-size: 24px;
      margin-bottom: 10px;
    }
    .descr {
      font-size: 12px;
      text-align: center;
      font-weight: 600;
    }
    &.apps {
      background-color: #ff7f08;
    }
    &.customers {
      background-color: #f88c26;
    }
    &.panels {
      background-color: #ffb775;
    }
    &.times {
      background-color: #e17108;
    }
  }
  @media (min-width: 1024px) {
    &__tile {
      .amount {
        font-size: 56px;
      }
      .descr {
        font-size: 12px;
        text-align: center;
        font-weight: 600;
      }
    }
    &__textPart {
      padding: 0;
      width: 60%;
    }
  }
  @media (min-width: 1280px) {
  }
}
