@import "./variables.scss";
.Button {
  background: $blue;
  text-transform: uppercase;
  color: white;
  font-weight: 700;
  line-height: 1;
  font-size: 14px;
  width: 100%;
  max-width: 400px;
  padding: 16px 0;
  transition: all 0.5s;
  position: relative;
  span {
    position: relative;
    z-index: 2;
  }
  &::after {
    content: "";
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: white;
    left: 0;
    top: 0;
    clip-path: polygon(0% 0%, 0% 0%, 0% 100%, 0% 100%);
  }
  &:hover:not(:disabled) {
    &::after {
      animation: fill 1s forwards;
    }
    color: $blue;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
  }
  &__header {
    width: max-content;
    padding: 10px 16px;
    font-size: 10px;
  }
  @media (min-width: 1024px) {
    width: 100%;
  }
  @media (min-width: 1280px) {
  }
}
@keyframes fill {
  0% {
    clip-path: polygon(0% 0%, 0% 0%, 0% 100%, 0% 100%);
  }
  100% {
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  }
}
