@import "./variables.scss";
.ExampleSection {
  #slider_next2 {
    transform: translateX(120%) translateY(10%) scale(1.2);
  }
  #slider_prev2 {
    transform: translateX(-120%) translateY(10%) rotate(180deg) scale(1.2);
  }
  .Button {
    max-width: 100%;
  }
  padding-bottom: 80px;
  .Brief {
    text-align: center;
    padding: 24px 0;
  }
  @media (min-width: 768px) {
    .Brief {
      padding-bottom: 0;
    }
  }
  @media (min-width: 1280px) {
  }
}
