@import "./variables.scss";
.OurTrustedClients {
  padding-bottom: 80px;

  .Brief {
    margin: 24px 0;
  }
  &__clients-grid {
    position: relative;
    z-index: 4;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    place-content: center;
    column-gap: 20px;
  }
  @media (min-width: 768px) {
    .Brief {
      text-align: center;
      margin: 24px 0;
    }
    &__clients-grid {
      column-gap: 80px;
    }
  }
  @media (min-width: 1280px) {
    &__clients-grid {
      column-gap: 100px;
    }
  }
}
